@font-face {
	font-family: 'Chakra Petch';
	src: url('./fonts/ChakraPetch-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Chakra Petch';
	src: url('./fonts/ChakraPetch-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
